body {
    font-family: "Inter", serif;
    background-color: black;
    color: white;

}

header {
    background: url(images/Images\ 2.png) no-repeat right;
    height: 780px;

}

/* navbar*/

nav {
    padding: 14px 100px;
    
}

.fitness-nav {
    font-weight: 900;
    font-size: 36px;
    color: #E6533C;
}

ul {
    list-style-type: none;
    margin-top: 45px;
    box-shadow:  ;
}

.nav-li {
    display: flex;
}

li>a {
    text-decoration: none;
    color: white;
    margin: 0px 15px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;

}